/*header*/
header{
    background-color: blue;
padding-top: 26px;
}
#pattern{
    background-image: url(img/pattern.png);
    background-size: contain;
    
}
/*fine header*/
/*logo*/
#logo{
    height: 40px;
}
/*fine logo*/
/*inizio main*/
/*sezione pubblicazione*/
.scritto-da{
    color: grey;
}
.nome-giornale{
    color: blue;
}
.data-di-pubblicazione{
    font-size: 10px;
}
/*fine sezione pubblicazione*/
/*sezione immagini*/
.prima-foto{
    font-size: 10px;
}
.seconda-foto{
    font-size: 10px;
}
/*fine sezione immagini*/
/*inizio sezione articolo*/
.parte-testo-primo-paragrafo{
    background-color: yellow;
}

/*fine sezione articolo*/
/*inizio tabella*/

#testa-tabella{
    color: white;
    background-color: rgb(80, 123, 234);
    
}
#prima-riga-tabella{
    background-color: skyblue;
}
#terza-riga-tabella{
    background-color: skyblue;
}
/*fine tabella*/
/*ultimo paragrafo*/
.parte-testo-ultimo{
    background-color: yellow;
}
/*fine ultimo paragrafo*/
/*sezione potrebbero interessarti*/
.interessi{
    color: blue;
}

/*prima foto*/
#scritta-foto-monitor{
    background-image: url(img/monitor.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
/*fine prima foto*/
/*seconda foto*/
#scritta-foto-monitor-da-vicino{
    background-image: url(img/graph.jpg);
    background-size: cover;
    width: 250px;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
/*fine seconda foto*/
/*fine sezione potrebbero interessarti*/